.login-form-container {
  position: relative;
  width: 400px;
  height: 470px;
  max-width: 400px;
  max-height: 470px;
  background: #040717;
  border-radius: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-form-container::before {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #ee00ff
  );
  animation: rotate_border 6s linear infinite;
}

.login-form-container::after {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: rotate_border 6s linear infinite;
  animation-delay: -3s;
}

@keyframes rotate_border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-form {
  position: absolute;
  content: "";
  background: #0c1022;
  border-radius: 50px 0px;
  inset: 5px;
  padding: 20px 18px;
  z-index: 10;
}

/* ************************************ */
/* ************************************ */
/* ************************************ */
/* ************************************ */

.img-container {
  position: relative;
  width: 100%;
  height: 250px;
  background: #040717;
  border-radius: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-container::before {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: rotate_border2 6s linear infinite;
}

.img-container::after {
  position: absolute;
  width: 170%;
  height: 170%;
  content: "";
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #ee00ff
  );
  animation: rotate_border2 6s linear infinite;
  animation-delay: -3s;
}

@keyframes rotate_border2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.img-form {
  position: absolute;
  content: "";
  background: #0c1022;
  border-radius: 50px 0px;
  inset: 5px;
  padding: 20px 18px;
  z-index: 10;
}

.txt-container {
  position: relative;
  width: 100%;
  height: 165px;
  background: #040717;
  border-radius: 0px 50px;
  margin-top: 10px;
  padding: 15px;
  color: #00ccff;
}

.profile:hover {
  backdrop-filter: blur(3vw);
  background-color: #dc64641a;
  transform: translateY(-5%);
  transition: 1s;
  border: 4px solid #009999;
  border-radius: 50px 0px;
  margin: 20px;
}
