.TeamCard:hover {
  backdrop-filter: blur(3vw);
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* background-color: #ffffff1a; */
  background-color: #dc64641a;
  transform: translateY(-5%); /*total hove transition*/
  transition: 1s;
  border: 2px solid white;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}

/* back to top */
/* back to top */
/* back to top */
/* html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
} */

#myBtn {
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 99;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: none;
  outline: none;
  background: black;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
#myBtn:hover {
  transition: 0.3s;
  opacity: 0.8;
}
