.progress {
  color: #fff;
  background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.progress .h3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 2.5em;
  z-index: 1;
  font-weight: 500;
}

.progress .span {
  font-size: 0.65em;
  font-weight: 400;
}

.progress .h4 {
  font-size: 1.2em;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--clr);
  text-transform: uppercase;
}

.progress::before {
  content: "";
  /* position: absolute; */
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.progress::after {
  content: "";
  position: absolute;
  inset: 5px;
  /*wide of border*/
  border-radius: 50%;
  background: #0f0f24;
}

.progress::before {
  background: var(--clr);
  transform: rotate(calc(((var(--ii) - 50) * 0.01turn)));
}

.progress.less::before {
  background: #444;
  transform: rotate(calc(((var(--ii) - 0) * 0.01turn)));
}
